<div class='text-center p-4 border border-2 border-dark'>
  <h2>{{comic.titulo}}</h2>
  <img src='{{comic.imagen}}' width='200px'>
  <h3 class='mt-2'>{{comic.descripcion}}</h3>
  <div class='m-4'>
    <button class='btn btn-success m-1' (click)='seleccionarFavoritoHijo()'>Seleccionar como favorito</button>
    <button class='btn btn-danger m-1' (click)='eliminarComicHijo()'>Eliminar Comic</button>
    <button class='btn btn-warning m-1' (click)='modificarComicHijo()'>Modificar Comic</button>
  </div>
</div>
